<app-navigation></app-navigation>
<div class="container detailsContainer text-center d-flex justify-content-center" style="margin-top: 10%;">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th class="tableHeading">Roll Number</th>
          <td class="tableData">{{studentDetails[0]}}</td>
        </tr>
        <tr>
          <th class="tableHeading">Name</th>
          <td class="tableData">{{studentDetails[1]}} {{studentDetails[2]}} {{studentDetails[3]}}</td>
        </tr>
        <tr>
          <th class="tableHeading">Email ID</th>
          <td class="tableData">{{studentDetails[4]}}</td>
        </tr>
        <tr>
          <th class="tableHeading">Date of Birth</th>
          <td class="tableData">{{studentDetails[5]}}</td>
        </tr>
        <tr>
          <th class="tableHeading">Gender</th>
          <td class="tableData">{{studentDetails[6]}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
