<div class="container-fluid sticky-top">
  <nav class="navbar navbar-expand-sm d-flex justify-content-center bg-dark">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a [routerLink]="['../../../student/home',rollNo]" routerLinkActive="router-link-active"
          class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['../../../student/view',rollNo]" routerLinkActive="router-link-active"
          class="nav-link">Details</a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <a type="button" class="btn btn-dark dropdown-toggle nav-link" data-toggle="dropdown">
            {{rollNo}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item signoutItem" [routerLink]="['../../../']" routerLinkActive="router-link-active" (click)="SignOut()">Sign
                Out</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>
