/* .col-sm-12 {
  margin-bottom: 2%;
} */

* {
  box-sizing: border-box;
}

/* 
.signinRow {
  padding-top: 20%;
} */

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .container {
  padding-top: 15%;
} */

.bgImg {
  background-image: url(../../../assets/images/ceg_bg.png);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  border-radius: 10%;
}